<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TextutilsSite</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1> 
        <center>
        <p style = 'color:darkmagenta'>
        Type any text</p>
    </center>
    </h1>
    <form action="analyse" method="get">
        <textarea name='text' style="margin: 0px;width: 721 px; height:93 px;"></textarea><br>
        <input type="checkbox" name="removepunc"> Remove punctuations<br>
        <input type="checkbox" name="uppercase">Uppercase<br>
        <input type="checkbox" name="lowercase">Lowercase<br>
        <input type="checkbox" name="reverse">Reverse text<br>
        <button type="submit">Submit form</button>
    </form>
</body>
</html>