<!DOCTYPE html>
<html>
    <head>
        <title>Text Analyser</title>
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    </head>
    <body>
        <div class="main">
        <div class="center">
        <h1>
            <center>
            <p style="color:rgb(187, 63, 218)" style = "font-size: xx-large" vertical-align:50%>
                 TEXTIFY
            </p>
        </center>
        </h1>
        <a href="form.html">Click here to input text</a>
    </div>
</div>
    </body>
</html>
